.dashboard-chart{
  margin-top:4%;
  margin-right: 0px;
  margin-left:0px;
}

.dashboard-radio{
    margin-left: 73%;
    margin-right: 0%;
}

.dashboard-comp{
    margin-right:0px;
    margin-top:7%;
    margin-left:0px;
}